<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.example.zwx.visitrecord" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreviewActivity"
            android:label="@string/title_activity_preview" >
        </activity>
        <activity
            android:name=".AddRecordActivity"
            android:label="@string/title_activity_add_record" >
        </activity>
        <activity
            android:name=".ReleaseVisitActivity"
            android:label="@string/title_activity_release_visit" >
        </activity>
        <activity
            android:name=".LastRecordActivity"
            android:label="@string/title_activity_last_record" >
        </activity>
        <activity
            android:name=".LastNeedActivity"
            android:label="@string/title_activity_last_need" >
        </activity>
        <activity
            android:name=".ListDisplay"
            android:label="@string/title_activity_last_need" >
        </activity>
        <activity
            android:name=".AddMemberActivity"
            android:label="@string/title_activity_add_member" >
        </activity>
        <activity
            android:name=".VisitDetailActivity"
            android:label="@string/title_activity_visit_detail" >
        </activity>
        <activity
            android:name=".PersonInfoActivity"
            android:label="@string/title_activity_person_info" >
        </activity>
        <activity
            android:name=".VisitArrangeActivity"
            android:label="@string/title_activity_visit_arrange" >
        </activity>
        <activity
            android:name=".PreviewPersonInfoActivity"
            android:label="@string/title_activity_preview_person_info" >
        </activity>
        <activity
            android:name=".MyRecordActivity"
            android:label="@string/title_activity_my_record" >
        </activity>
        <activity
            android:name=".DeliveryDemandActivity"
            android:label="@string/title_activity_delivery_demand" >
        </activity>
    </application>

</manifest>
